<section class="catalog_tabs">
  <div class="container">
    <div class="title_box">
      <span class="title h2 line">Каталог товаров</span>
    </div>
    <div class="tabs">
      <div class="tabs__control_line d-flex-wrap">
        <div class="tabs__control tabs__control--active" data-tab="1">
          <span>Проекторы</span>              
        </div>
        <div class="tabs__control" data-tab="2">
          <span>Видеокубы</span>              
        </div>
        <div class="tabs__control" data-tab="3">
          <span>IP телефоны</span>              
        </div>
        <div class="tabs__control" data-tab="4">
          <span>ЖК дисплеи для видеостен</span>              
        </div>
        <div class="tabs__control" data-tab="5">
          <span>Медиаплееры</span>
        </div>
      </div>

      <div class="tabs__content_wrapper">
        <div class="tabs__content_tab tabs__content_tab--active" data-index="1">
          <div class="catalog_slider">
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog_slider_control">
            <div class="catalog_slider_control__slider"></div>
          </div>
        </div>
        <div class="tabs__content_tab" data-index="2">
          <div class="catalog_slider">
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog_slider_control">
            <div class="catalog_slider_control__slider"></div>
          </div>
        </div>
        <div class="tabs__content_tab" data-index="3">
          <div class="catalog_slider">
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog_slider_control">
            <div class="catalog_slider_control__slider"></div>
          </div>
        </div>
        <div class="tabs__content_tab" data-index="4">
          <div class="catalog_slider">
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog_slider_control">
            <div class="catalog_slider_control__slider"></div>
          </div>
        </div>
        <div class="tabs__content_tab" data-index="5">
          <div class="catalog_slider">
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog_slider_slide">
              <div class="catalog_card">
                <div class="catalog_card__img_box">
                  <img src="assets/img/card-1.png" alt="">
                </div>
                <div class="catalog_card__content_box">
                  <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                  <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
                </div>
                <div class="catalog_card__bottom_line">
                  <div class="price">Br 2,648.45</div>
                  <a href="#" class="btn">В корзину</a>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog_slider_control">
            <div class="catalog_slider_control__slider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>