<section class="comand">
  <div class="container">
    <div class="title_box">
      <span class="title h2 line">НаША команда</span>
    </div>
    <div>
      <div class="comand__wrapper slider d-flex-wrap">
        <div class="comand__element w-3">
          <div class="box d-flex-column">
            <div class="img_box d-flex-center">
              <img src="assets/img/person-1.png" alt="">
            </div>
            <span class="title person_name">Элеонора  Токарь</span>
            <span class="person_position">менеджер по  работе с  клиентами</span>
            <a href="tel:+" class="number">+375 17 224 33 88</a>
            <a href="mailto:+" class="email">E-mail: info@ibtc.by </a>
            <div class="social d-flex-center">
              <a href="#"><img src="assets/img/icons/facebook-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/instagram-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/whatsapp-ico.svg"></a>
            </div>
          </div>
        </div>
        <div class="comand__element w-3">
          <div class="box d-flex-column">
            <div class="img_box d-flex-center">
              <img src="assets/img/person-1.png" alt="">
            </div>
            <span class="title person_name">Элеонора  Токарь</span>
            <span class="person_position">менеджер по  работе с  клиентами</span>
            <a href="tel:+" class="number">+375 17 224 33 88</a>
            <a href="mailto:+" class="email">E-mail: info@ibtc.by </a>
            <div class="social d-flex-center">
              <a href="#"><img src="assets/img/icons/facebook-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/instagram-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/whatsapp-ico.svg"></a>
            </div>
          </div>
        </div>
        <div class="comand__element w-3">
          <div class="box d-flex-column">
            <div class="img_box d-flex-center">
              <img src="assets/img/person-1.png" alt="">
            </div>
            <span class="title person_name">Элеонора  Токарь</span>
            <span class="person_position">менеджер по  работе с  клиентами</span>
            <a href="tel:+" class="number">+375 17 224 33 88</a>
            <a href="mailto:+" class="email">E-mail: info@ibtc.by </a>
            <div class="social d-flex-center">
              <a href="#"><img src="assets/img/icons/facebook-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/instagram-ico.svg"></a>
              <a href="#"><img src="assets/img/icons/whatsapp-ico.svg"></a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    
  </div>
</section>