<header class="header">
  <div class="d-flex-alig-center justify-content-between">
    <a href="/" class="header__logo">
      <img src="assets/img/logo.png">
    </a>
    <div class="header__info d-flex-center">
      <a href="mailto:info@ibtc.by" class="link email">E-mail: info@ibtc.by </a>
      <span class="work">Время работы: 9:00-17:30</span>
      <div class="dropdown d-flex-center phone">
        <a href="tel:+375 33 373 33 88" class="dropdown__main">+375 33 373 33 88</a>
        <div class="dropdown__arrow"></div>
        <div class="dropdown__drop">
          <div class="d-f-column align-items-center">
            <a href="tel:+375 17 224 33 88" class="dropdown__element">+375 17 224 33 88</a>
            <span class="dropdown__element">Заказать звонок</span>
          </div>
        </div>
      </div>
    </div>
    <div class="header__controll d-flex-center">
      <a href="#" class="favorite"><span class="text">Избранные товары</span></a>
      <div class="btn btn--cart">
        <div class="cart">
          <img src="assets/img/icons/cart-ico.svg">
          <span class="cart__counter">1</span>
        </div> 
        <span class="text">Корзина</span>
      </div>
      <div class="menu mobile_visible">
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
<div class="nav_menu d-flex-center">
  <div class="nav_menu__menu d-flex-center ">
    <div class="nav_menu__menu_element">
      <a href="#">О компании</a>
    </div>
    <div class="nav_menu__menu_element">
      <a href="#">Каталог</a>
    </div>
    <div class="nav_menu__menu_element parent">
      <a href="#">Услуги</a>
      <div class="nav_menu__drop_menu d-f-column">
        <a href="#" class="drop_menu_element">IT аудит</a>
        <a href="#" class="drop_menu_element">Проектирование</a>
        <a href="#" class="drop_menu_element">Пусконаладочные работы</a>
        <a href="#" class="drop_menu_element">Монтаж</a>
        <a href="#" class="drop_menu_element">Обслуживание</a>
        <a href="#" class="drop_menu_element">Дизайн проект помещения для мультимедийных систем </a>
        <a href="#" class="drop_menu_element">Тестирование оборудования</a>
      </div>
    </div>
    <div class="nav_menu__menu_element">
      <a href="#">Решения</a>
    </div>
    <div class="nav_menu__menu_element">
      <a href="#">Портфолио</a>
    </div>
  </div>
  <div class="nav_menu__search_input">
    <input type="text">
  </div>
  <div class="phone mobile_visible">
    <a href="tel:+375 (17) 336-33-36">+375 (17) 336-33-36 </a>
  </div>
  <div class="nav_menu__search">
    <img src="assets/img/icons/search.svg" alt="">
  </div>
</div>