<section class="portfolio">
  <div class="title_box">
    <span class="title h2 line">портфолио</span>
  </div>
  <div>
    <div class="portfolio_slider_navigation slider_navigation">
      <div class="container">
        <div class="arrows d-flex"></div>
      </div>
    </div>
    <div class="portfolio__slider slider">
      <div class="portfolio__slide" style="background: url(assets/img/porfolio-1.png) center/cover no-repeat;">
        <div class="container">
          <div class="portfolio__content">
            <div  class="title h3">Стенд видеостены для МАЗ-Вейчай</div>
            <div  class="description">Работы по созданию цифрового стенда видеостены выполнили наши сотрудники на входной группе главного здания производства МАЗ-Вейчай. Главной задачей поставленной заказчиком было реализовать стенд в сжатые сроки, использовать композитное обрамление видеостены, создание условий для удобного обслуживания ЖК дисплеев.</div>
            <a href="#" class="link">Подбробнее</a>
          </div>
        </div>
      </div>
      <div class="portfolio__slide" style="background: url(assets/img/porfolio-1.png) center/cover no-repeat;">
        <div class="container">
          <div class="portfolio__content">
            <div  class="title h3">Стенд видеостены для МАЗ-Вейчай</div>
            <div  class="description">Работы по созданию цифрового стенда видеостены выполнили наши сотрудники на входной группе главного здания производства МАЗ-Вейчай. Главной задачей поставленной заказчиком было реализовать стенд в сжатые сроки, использовать композитное обрамление видеостены, создание условий для удобного обслуживания ЖК дисплеев.</div>
            <a href="#" class="link">Подбробнее</a>
          </div>
        </div>
      </div>
      <div class="portfolio__slide" style="background: url(assets/img/porfolio-1.png) center/cover no-repeat;">
        <div class="container">
          <div class="portfolio__content">
            <div  class="title h3">Стенд видеостены для МАЗ-Вейчай</div>
            <div  class="description">Работы по созданию цифрового стенда видеостены выполнили наши сотрудники на входной группе главного здания производства МАЗ-Вейчай. Главной задачей поставленной заказчиком было реализовать стенд в сжатые сроки, использовать композитное обрамление видеостены, создание условий для удобного обслуживания ЖК дисплеев.</div>
            <a href="#" class="link">Подбробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>