<section class="question_form_section">
  <div class="d-flex-center">
    <div class="question_form_box">
      <div class="title_box">
        <span class="title h2">задайте вопрос специалисту</span>
        <p>Оставьте ваши контактные данные и наш консультат свяжется с вами</p>
      </div>
      <form action="#" class="question_form">
        <div class="d-flex input_box">
          <input type="text" name="name" placeholder="Имя">
          <input type="text" name="phone" placeholder="+375 (_ _)  _ _ _- _ _ -_ _">
        </div>
        <textarea placeholder="Вопрос"></textarea>
        <button type="submit" class="btn btn--slider">Отправить</button>
      </form>
    </div>
  </div>
</section>