<section class="reviews">
  <div class="container">
    <div class="title_box">
      <span class="title h2 line">Отзывы</span>
    </div>
    <div class="reviews__wrapper d-flex-wrap">
      <div class="slider reviews__slider">
        <div class="slide">
          <div class="reviews__element d-flex">
            <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
            <div class="review_content">
              <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
              <div class="review_name">Бысюк Г.Г</div>
              <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
              <a href="#" class="more_review">Читать все отзывы</a>
            </div>
          </div>
        </div>
      <div class="slide">
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>