<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}

  <div class="error_page d-flex-center">
    <div class="error_wrapper d-flex">
      <div class="error_name">
        <img src="assets/img/404.svg">
      </div>
      <div class="eror_text">
        <span class="title h2">ошибка!</span>
        <p class="sub_title">К сожалению, запрашиваемая <br> Вами страница не найдена....</p>
        <div class="text">
          Вернуться <span class="back_link">назад</span> , либо перейти <br> на <a href="/">главную</a>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>