<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>

    <div class="about_company" style="background: url(assets/img/about-baner.png) center/cover no-repeat;">
      <div class="container">
        {{>breadcrumbs}}
        <div class="title_box">
          <span class="title h3">IBC — компания, которая способна реализовывать интересные, яркие, сложные и современные проекты. Нам уже есть чем гордиться, и мы точно знаем к чему стремиться!</span>
        </div>
      </div>
    </div>
    <div class="content_page">
      <div class="container">
        <div class="content">
          <h3>история компании</h3>
          <p>ООО «АЙ БИ ТИ КОМПАНИ» — белорусская инжиниринговая компания, созданная в 2015 году с целью реализовывать проекты в области системной интеграции. Учредителями компании были молодые сотрудники с высшим экономическим и техническим образованием. Накопленный опыт реализации сложных технических проектов в области мультимедийных и телекоммуникационных систем позволил сформировать своё видение работы, как с ведущими производителями оборудования, так и с заказчиками.</p>
          <p>С момента своего создания, компания всегда стремилась предоставлять наиболее полный комплекс решений для реализации поставленной задачи. Основными особенностями работы компании было создание современных конкурентных высокотехнологичных интегрированных систем с минимальными затратами для заказчика, что позволило в первый же год работы компании обзавестись рядом успешных реализованных проектов.</p>
          <p>Для реализации более сложных проектов, компания непрерывно повышала уровень своих компетенций, налаживала новые связи с производителями перспективных технологий, открывала для себя новые направления.</p>
          <p>В 2018 году ООО «АЙ БИ ТИ КОМПАНИ» становится официальным дистрибьютором источников бесперебойного питания и электрооборудования торговой марки Cover производства COMEX S.A. на территории Республики Беларусь и Российской Федерации.</p>
          <p>Так же в 2018 году компания начинает предлагать на рынке решения с возможностью разработки программного обеспечения и создания тематического контента, что позволило создавать интересные мультимедийные системы, в том числе интерактивные музейные и образовательные экспозиции.</p>
          <h3>направления</h3>
          <p>Приоритетным направлением работы компании являются системные проекты в области мультимедийных и аудиовизуальных систем, систем бесперебойного питания, сетей связи, вычислительны сетевых и серверных систем, разработка программного обеспечения и мультимедийного контента. Все перечисленные направления компания старается выполнять комплексно и под ключ, охватывая процессы аудита, проектирования, поставки, монтажа, настройки и дальнейшего обслуживания внедренных технологий.</p>
          <p>Основным залогом успешной работы ООО «АЙ БИ ТИ КОМПАНИ» являются квалифицированные и старательные сотрудники, к подбору которых всегда уделялось важное значение. Уровень навыков сотрудников постоянно совершенствуется путем проведения обучающих мероприятий со стороны ведущих производителей телекоммуникационного оборудования. Дружный коллектив компании всегда открыт для начинающих перспективных специалистов, которым всегда трепетно помогают и всячески мотивируют.</p>
          <p>За время своего существования, ООО «АЙ БИ ТИ КОМПАНИ» постоянно демонстрирует экономический рост, успешно осваивает новые направления, количественно и качественно расширяет свой штат сотрудников, расширяет материальную базу современным оборудованием и инструментами, открывает для себя и своих заказчиков новые технологии и новых производителей.</p>
          <p>На текущий момент ООО «АЙ БИ ТИ КОМПАНИ» представляет собой надежного интегратора, который старается выстраивать долгие доверительные отношения со своими партнерами. </p>
        </div>
      </div>
    </div>


  </main>


    {{>comand}}

    {{>map_section}}

    {{>question_form}}

  </main>
  {{>footer}}
</body>
</html>