<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="contact_page">
      <div class="container">
        <div class="contact_wrapper d-flex">
          <div class="contact_box requis d-flex-column">
            <h1 class="title h2">КОНТАКТЫ И РЕКВИЗИТЫ</h1>
            <p class="organization">Наименование организации: Общество с ограниченной ответственностью «АЙ БИ ТИ КОМПАНИ»</p>
            <div class="location icon">
              Офис и склад: 220062, Республика Беларусь, г. Минск, ул. Ратомская, дом 48-2
            </div>
            <a href="mailto:info@ibtc.by" class="mail icon">info@ibtc.by</a>
            <a href="tell:+37517 224 33 99" class="phone icon">+37517 224 33 99</a>
            <a href="tell:+37533 373 33 88" class="phone icon">+37533 373 33 88</a>
            <span class="icon">Факс: +37517 ‎224 33 88</span>
            <span class="icon">Skype: ibt_company</span>
            <a href="#" class="pdf icon">Скачать реквизиты, 50кб</a>
          </div>
          <div class="contact_box form">
            <span class="title h2">заказать проект</span>
            <form action="#" class="d-flex-wrap">
              <div class="input_box d-flex w-10">
                <input type="text" class="w-5" placeholder="Ваше имя">
                <input type="text" class="w-5" name="phone" placeholder="Телефон">
              </div>
              <input type="text" class="w-10" placeholder="Ваш e-mail">
              <textarea class="w-10" placeholder="Сообщение"></textarea>
              <button type="submit" class="btn">отправить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>