<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="content_page distribution">
      <div class="container">
        <span class="title h3">IBT COMPANY — дистрибьютор товаров производства COVER В РБ</span>
        <div class="content">
          <img src="assets/img/distribution.png" alt="">
          <h3>дистрибуция</h3>
          <p>C 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания производства торговой марки COVER производства COMEX S.A.  на территории Республики Беларусь. COVER — это признанные устройства и решения, используемые во всем мире для защиты компьютерных систем, чувствительных электрических и электронных устройств, промышленных установок, систем контроля и управления, от скачков напряжения и сбоев, а также от различных сбоев питания.</p>
          <p>Линейка блоков питания COVER и используемые в них решения позволяют выбрать оптимальную систему практически в любой ситуации. Решения в виде проверенных конструкций ИБП, резервирования критически важных компонентов и надежных аккумуляторных батарей позволяют создавать надежные системы бесперебойного питания, обеспечивающие безопасность пользователю в течение многих лет.</p>
          <h3>продукция cover</h3>
          <p>Среди профессионалов устройства COMEX имеют самую высокую репутацию как надежные устройства. Производство линейки марки COVER — ENERGY берет свое начало родом из Швейцарии с момента появления первой продукции на рынке в 1995 году. Стоит отметить и то, что продукция COVER имеет достаточно конкурентную стоимость по сравнению с другими ведущими производителями бесперебойного питания, что в дополнении с отличным качеством делает продукцию COVER отличным решением для корпоративных систем.
          </p>
          <p>Линейный ряд продукции COVER охватывает источники бесперебойного питания в диапазоне от 1 до 500kVa.
            Источники бесперебойного питания мощностью от 1 до 10 kVa имеющие название линейки COVER Вы можете заказать в нашем <a href="#">каталоге</a> .</p>
          <p>Решения более высоких мощностей Вам помогут подобрать наши инженеры.<br>
            Приятным моментом в выборе предлагаемых нами ИБП будет и то, что основную массу предлагаемых решений мы сможем поставить в кратчайшие сроки.</p>
        </div>
      </div>
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>