<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}

      <span class="title h3">избранные товары</span>

      <div class="product_table">
        <div class="product_table__title_line">
          <div class="product_table__box product_info_box">Наименование товара</div>
          <div class="product_table__box product_description_box">Описание</div>
          <div class="product_table__box product_ontrol_box"></div>
        </div>
        <div class="product_table__main_content">
          <div class="product_table__element">
            <a href="#" class="mobile_dell mobile_visible"><img src="assets/img/icons/close.svg"></a>
            <a href="#" class="title">ЖК дисплей для видеостен 55″ LG 55VM5E</a>
            <div class="product_table__box product_info_box">
              <div class="img_box">
                <img src="assets/img/card-3.png" alt="">
              </div>
              <a href="#" class="dell">Удалить</a>
            </div>
            <div class="product_table__box product_description_box">
              <div class="description">
                <p>Профессиональный LED-дисплей высокой производительности с улучшенной поддержкой 3D-графики и повышенной степенью безопасности.</p>
                <p>Поддержка сенсорного режима управления полностью реализована на ОС Samsung TIZEN без использования специального ПК.</p>
              </div>
              
            </div>
            <div class="product_table__box product_ontrol_box">
              <a href="#" class="btn">В корзину</a>
            </div>
          </div>
          <div class="product_table__element">
            <a href="#" class="title">ЖК дисплей для видеостен 55″ LG 55VM5E</a>
            <div class="product_table__box product_info_box">
              
              <div class="img_box">
                <img src="assets/img/card-3.png" alt="">
              </div>
              <a href="#" class="dell">Удалить</a>
            </div>
            <div class="product_table__box product_description_box">
              <div class="description">
                <p>Профессиональный LED-дисплей высокой производительности с улучшенной поддержкой 3D-графики и повышенной степенью безопасности.</p>
                <p>Поддержка сенсорного режима управления полностью реализована на ОС Samsung TIZEN без использования специального ПК.</p>
              </div>
            </div>
            <div class="product_table__box product_ontrol_box">
              <a href="#" class="btn">В корзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>