<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <div class="main_page_slider_box">
    <div class="main_page_slider slider">
      <div class="main_page_slider__element" style="background: url(assets/img/main-slider-bg.png) center/cover no-repeat;">
        <div class="content">
          <span class="slide_text">Оборудование и услги в сфере системной интеграции</span>
          <a href="#" class="btn btn--slider">Подробнее</a>
        </div>
      </div>
      <div class="main_page_slider__element" style="background: url(assets/img/main-slider-bg.png) center/cover no-repeat;">
        <div class="content">
          <span class="slide_text">Оборудование и услги в сфере системной интеграции</span>
          <a href="#" class="btn btn--slider">Подробнее</a>
        </div>
      </div>
      <div class="main_page_slider__element" style="background: url(assets/img/main-slider-bg.png) center/cover no-repeat;">
        <div class="content">
          <span class="slide_text">text</span>
          <a href="#" class="btn btn--slider">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <main>
    <section class="about">
      <div class="container">
        <div class="title_box">
          <span class="title h2 line">о компании</span>
        </div>
        <div class="content">
          IBT Company – инжиниринговая компания, специализирующаяся на системной интеграции в сфере информационных технологий. С 2018 года - официальный дистрибьютор источников бесперебойного питания и электрооборудования торговой марки Cover. Сотрудники нашей организации обладают высокой квалификацией и занимаются реализацией  проектов аудиовизуальных систем, установкой систем безопасности, вычислительных систем и системы хранения данных. Основные наши направления: 
          <ul class="check">
            <li>Дистрибьюция качественного высокотехнологичного оборудования и комплектующих</li>
            <li>Разработка ПО и создание  мультимедийных решений в рамках аудиовизуальной интеграции</li>
            <li>Реализация профессионального оборудования и програмного обеспечения</li>
            <li>Реализация профессионального оборудования и програмного обеспечения</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="container">
        <div class="advantages__wrapper d-flex-wrap">
          <div class="advantages__element d-flex-column align-items-center w-2">
            <img src="assets/img/icons/adv-1-ico.svg">
            <span class="title h3">экспертность</span>
            <p>Находим оптимальное для Вас решение</p>
          </div>
          <div class="advantages__element d-flex-column align-items-center w-2">
            <img src="assets/img/icons/adv-2-ico.svg">
            <span class="title h3">качество</span>
            <p>Находим оптимальное для Вас решение</p>
          </div>
          <div class="advantages__element d-flex-column align-items-center w-2">
            <img src="assets/img/icons/adv-3-ico.svg">
            <span class="title h3">работа под ключ</span>
            <p>Полный цикл работы с проектом </p>
          </div>
          <div class="advantages__element d-flex-column align-items-center w-2">
            <img src="assets/img/icons/adv-4-ico.svg">
            <span class="title h3">Гарантии</span>
            <p>Гарантия и сервисная поддержка для клиентов</p>
          </div>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="d-flex services__wrapper">
        <div class="w-5 services__box">
          <div class="title_box">
            <span class="title h2 line">Разработка ПО</span>
          </div>
          <div class="services__content">
            <p>Мы способны создавать уникальные мультимедийные решения в рамках аудиовизуальной интеграции. Наши инженеры и программисты на высоком уровне способны объединить электронику, аппаратное программирование, создание анимационных видеороликов и тематического контента, графический дизайн, разработку веб-приложений и заставить всё это работать централизованно в виде одной системы. Каждый проект создается с индивидуальным подходом с внедрением новых и актуальных решений.</p>
          </div>

        </div>
        <div class="w-5 services__box">
          
          <picture>
            <source srcset="assets/img/serv-1-mobile.png" media="(max-width: 375px)">
            <img src="assets/img/serv-1.png">
          </picture>
        </div>
      </div>
      <div class="d-flex services__wrapper dist">
        <div class="w-5 services__box filter">
          <img src="assets/img/serv-2.png">
        </div>
        <div class="w-5 services__box blue">
          <div class="title_box">
            <span class="title h2 line title--white">Дистрибуция</span>
          </div>

          <div class="services__content">
            <div class="services__buttons d-flex justify-content-between ">
              <div class="btn">ИБП</div>
              <div class="btn">СЭО</div>
              <div class="btn">СО</div>
            </div>
            <p>С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки COVER производства COMEX S.A. на территории Республики Беларусь.</p>
            <p>COVER — это признанные устройства и решения, используемые во всем мире для защиты компьютерных систем, чувствительных электрических и электронных устройств, промышленных установок, систем контроля и управления, от скачков напряжения и сбоев, а также от различных сбоев питания.</p>
          </div>
        </div>
      </div>
    </section>

    {{>catalog_tabs}}
    
    <section class="actions">
      <div class="container">
        <div class="title_box">
          <span class="title h2 line">Акции</span>
        </div>
        <div class="actions__wrapper d-flex-wrap">
          <div class="actions__element w-3">
            <div class="img_box">
              <img src="assets/img/action-1.png" alt="">
            </div>
            <div class="title h3">Бесплатно</div>
            <div class="description">Дизайн проект видеостен</div>
          </div>
          <div class="actions__element w-3">
            <div class="img_box">
              <img src="assets/img/action-2.png" alt="">
            </div>
            <div class="title h3">Бесплатно</div>
            <div class="description">Тестирование видеоконференцсвязи</div>
          </div>
          <div class="actions__element w-3">
            <div class="img_box">
              <img src="assets/img/action-3.png" alt="">
            </div>
            <div class="title h3">Бесплатно</div>
            <div class="description">Аудит IT оборудования</div>
          </div>
        </div>
      </div>
    </section>

    {{>reviews}}

    {{>porfolio}}

    {{>vendors}}

    {{>comand}}

    {{>map_section}}

    {{>question_form}}

  </main>
  {{>footer}}
</body>
</html>