<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}

      <div class="news_page">
        <div class="news_page__wrapper d-flex-wrap">
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
          <div class="news_page__element w-5">
            <div class="img_box"><img src="assets/img/news-1.png" alt=""></div>
            <div class="date_line">24.06.2019</div>
            <span class="title h3">IBT COMPANY — дистрибьютор Cover В РБ</span>
            <div class="preview_text">С 2019 года IBT COMPANY является дистрибьютором оборудования бесперебойного питания марки Cover на
              территории Республики Беларусь. COVER — это признанные …</div>
            <a href="#" class="btn">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>


    {{>map_section}}

    {{>question_form}}

  </main>
  {{>footer}}
</body>
</html>