<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="content_page">
      <div class="container">
        <div class="content">
          <h2>Политика конфиденциальности </h2>
          <p>Пользователь, нажав на кнопку «Зарегистрироваться» на странице регистрации интернет сайта https://ibtc.by (далее – сайт) обязуется соблюдать Пользовательское соглашение и дает свое согласие на обработку персональных данных согласно Политике конфиденциальности. Принятием Пользовательского соглашения и Политики конфиденциальности является нажатие кнопки «Зарегистрироваться» на сайте. Таким образом пользователь дает свое согласие ООО «АЙ БИ ТИ КОМПАНИ» (далее – администратор), которому принадлежит сайт, на обработку своих персональных данных на следующих условиях:</p>
          <ol class="politic_list">
            <li>1. Согласие дается на обработку персональных данных пользователя, как без использования средств автоматизации, так и с их использованием.</li>
            <li>2. Пользователь дает согласие на обработку следующих персональных данных: фамилия, имя, отчество; адрес электронной почты; номер контактного телефона; сведения о почтовом клиенте; сведения об используемом браузере и язык ОС; тип устройства и разрешение его экрана; сведения о переходах по ссылкам в электронных письмах; сведения о месторасположении; сведения об IP-адресах, с которых пользователь открывает электронное письмо.</li>
            <li>3. Персональные данные не являются общедоступными. Вся информация собирается администратором и не меняется в процессе сбора данных.</li>
            <li>4. Цель обработки персональных данных пользователя: идентификация пользователя, зарегистрированного на сайте; предоставление пользователю доступа к персонализированным ресурсам сайта; уведомление (рассылка информации) о новых поставщиках, товарах, изменениях в предложениях и других новостях о сайте; определение местонахождения пользователя для обеспечения безопасности, предотвращения мошенничества; подтверждение достоверности и полноты персональных данных, предоставленных пользователем; предоставление пользователю клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта; связь с пользователем, в том числе направление уведомлений, запросов и информации, а также обработка запросов и заявок от пользователя; улучшение качества оказываемых услуг, удобства их использования, проведение аналитических исследований; создание пользовательской базы сайта.</li>
            <li>5. В ходе работы с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление, хранение, обновление, изменение, извлечение, использование, распространение, предоставление, доступ, блокирование, удаление, уничтожение.</li>
            <li>6. Пользователь всегда может отказаться от проведения рассылки по его контактной информации. Персональные данные обрабатываются до отписки пользователя от информации путем перехода по специальной ссылке «Отписаться от рассылки» в рассылаемых письмах или путем направления соответствующего запроса на электронную почту info@ibtc.by. Согласие может быть отозвано пользователем или его представителем также путем направления письменного заявления администратору или его представителю по адресу местонахождения. В этом случае работа некоторых возможностей сайта, такие как просмотр предложений, доступность документации, для которых необходима регистрация или авторизация пользователя, будет приостановлена.
            </li>
            <li>7. Администратор может передавать персональные данные сторонним компаниям и только тем, предложения которых размещены на сайте.</li>
            <li>8. Администратор может вносить изменения в политику конфиденциальности. Пользователь обязан периодически пересматривать эти условия, чтобы быть информированными о том, как администратор защищает информацию о пользователях.</li>
          </ol>
        </div>

      </div>
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>