<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="portfolio_page">
      <div class="container">
        <div class="portfolio_page__wrapper d-flex-wrap">
          <div class="portfolio_page__box">
            <a href="#" class="portfolio_page__element" >
              <img src="assets/img/portfolio-1.png" alt="">
              <div class="content">
                <span class="title">Диспетчерский щит для Минских тепловых сетей</span>
                <p>ООО «АЙ БИ ТИ КОМПАНИ» завершило проект по модернизации диспетчерского щита для Минских тепловых сетей. Перед нами стояла задача…</p>
              </div>
            </a>
            <a href="#" class="btn mobile_visible">подробнее</a>
          </div>
          <div class="portfolio_page__box">
            <a href="#" class="portfolio_page__element" >
              <img src="assets/img/portfolio-1.png" alt="">
              <div class="content">
                <span class="title">Диспетчерский щит для Минских тепловых сетей</span>
                <p>ООО «АЙ БИ ТИ КОМПАНИ» завершило проект по модернизации диспетчерского щита для Минских тепловых сетей. Перед нами стояла задача…</p>
              </div>
            </a>
            <a href="#" class="btn mobile_visible">подробнее</a>
          </div>
          <div class="portfolio_page__box">
            <a href="#" class="portfolio_page__element">
              <img src="assets/img/portfolio-1.png" alt="">
              <div class="content">
                <span class="title">Диспетчерский щит для Минских тепловых сетей</span>
                <p>ООО «АЙ БИ ТИ КОМПАНИ» завершило проект по модернизации диспетчерского щита для Минских тепловых сетей. Перед нами стояла задача…</p>
              </div>
            </a>
            <a href="#" class="btn mobile_visible">подробнее</a>
          </div>
          <div class="portfolio_page__box">
            <a href="#" class="portfolio_page__element">
              <img src="assets/img/portfolio-1.png" alt="">
              <div class="content">
                <span class="title">Диспетчерский щит для Минских тепловых сетей</span>
                <p>ООО «АЙ БИ ТИ КОМПАНИ» завершило проект по модернизации диспетчерского щита для Минских тепловых сетей. Перед нами стояла задача…</p>
              </div>
            </a>
            <a href="#" class="btn mobile_visible">подробнее</a>
          </div>
        </div>
        
      </div>
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>