<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}

      <div class="product_card">
        <div class="product_card__mobile_info_box">
          <p class="product_card__notify">Данный ресурс не является интернет-магазином,цены из каталога указаны справочно</p>
          <div class="title_box">
            <span class="title h3">Профессиональный ЖК дисплей 32″ Samsung PM32F </span>
          </div>
        </div>
        <div class="product_card__wrapper d-flex">
          <div class="product_card__slider_box">
            <div class="fancy_open">
              <img src="assets/img/icons/search-gray.svg">                
            </div>
            <div class="product_card__slider slider">
              <div class="slide d-flex-center">
                <a href="assets/img/product-2.png" data-fancybox="product">
                  <img src="assets/img/product-2.png" alt="">
                </a>
              </div>
              <div class="slide d-flex-center">
                <a href="assets/img/product-3.png" data-fancybox="product">
                  <img src="assets/img/product-3.png" alt="">
                </a>
              </div>
              <div class="slide d-flex-center">
                <a href="assets/img/product-4.png" data-fancybox="product">
                  <img src="assets/img/product-4.png" alt="">
                </a>
              </div>
              <div class="slide d-flex-center" >
                <a href="assets/img/product-1.png" data-fancybox="product">
                  <img src="assets/img/product-1.png" alt="">
                </a>
              </div>
            </div>
            <div class="product_card__control_slider slider">
              <div class="slide">
                <img src="assets/img/product-2.png" alt="">
              </div>
              <div class="slide">
                <img src="assets/img/product-3.png" alt="">
              </div>
              <div class="slide">
                <img src="assets/img/product-4.png" alt="">
              </div>
              <div class="slide">
                <img src="assets/img/product-5.png" alt="">
              </div>
            </div>
          </div>
          <div class="product_card__info_box">
            <p class="product_card__notify">Данный ресурс не является интернет-магазином,цены из каталога указаны справочно</p>
            <div class="title_box">
              <span class="title h3">Профессиональный ЖК дисплей 32″ Samsung PM32F </span>
            </div>
            <div class="product_card__options">
              <div class="d-flex option_line">
                <span class="option_name">Диагональ, дюймы:</span>
                <span class="option_value">32</span>
              </div>
              <div class="d-flex option_line">
                <span class="option_name">Разрешение, ppi:</span>
                <span class="option_value">1920×1080</span>
              </div>
              <div class="d-flex option_line">
                <span class="option_name">Контрастность:</span>
                <span class="option_value">5000</span>
              </div>
              <div class="d-flex option_line">
                <span class="option_name">Яркость, кд/м2:</span>
                <span class="option_value">400</span>
              </div>
            </div>
            <div class="product_card__price">Br 2,648.45</div>
            <div class="product_card__control_box d-flex-wrap align-items-center">
              <div class="product_counter">
                <div class="product_counter__wrapper d-flex">
                  <div class="product_counter__minus">-</div>
                  <div class="product_counter__count"><input type="text" value="1"></div>
                  <div class="product_counter__plus">+</div>
                </div>
              </div>
              <a href="#" class="btn">в корзину</a>
            </div>
            <div class="product_card__favorite">
              <a href="#" class="favorite">
                <span class="text">Избранные товары</span>
              </a>
            </div>
          </div>
        </div>
        <div class="product_card__description">
          <div class="tabs">
            <div class="tabs__control_line d-flex-wrap">
              <div class="tabs__control tabs__control--active" data-tab="1">
                <span>Описание</span>              
              </div>
              <div class="tabs__control" data-tab="2">
                <span>Характеристики</span>              
              </div>
              <div class="tabs__control" data-tab="3">
                <span>Документы</span>              
              </div>
            </div>
            <div class="tabs__content_wrapper">
              <div class="tabs__content_tab tabs__content_tab--active" data-index="1">
                <p>Профессиональный LED-дисплей высокой производительности с улучшенной поддержкой 3D-графики и повышенной степенью безопасности.</p>
                <p>Поддержка сенсорного режима управления полностью реализована на ОС Samsung TIZEN без использования специального ПК.</p>
                <p>Панель проста в установке и использовании, удобный интерфейс удобен для пользователей.
                  Отличительная особенность экрана — толщина рамки всего 29,9 мм при диагонали экрана 32 дюйма.</p>
                  <ul>
                    <li>Покрытие антиблик</li>
                    <li>Пылезащита</li>
                    <li>Высокая производительность</li>
                  </ul>
              </div>
              <div class="tabs__content_tab tabs__content_tab--active" data-index="2">
                <p>Профессиональный LED-дисплей высокой производительности с улучшенной поддержкой 3D-графики и повышенной степенью безопасности.</p>
              </div>
              <div class="tabs__content_tab tabs__content_tab--active" data-index="3">
                <p>Поддержка сенсорного режима управления полностью реализована на ОС Samsung TIZEN без использования специального ПК.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <section class="similar_products">
        <div class="title_box">
          <span class="title h3">похожие товары</span>
        </div>
        <div class="similar_products__wrapper slider d-flex-wrap">
          <div class="catalog__box w-2">
            <div class="catalog_card">
              <div class="catalog_card__img_box">
                <img src="assets/img/card-1.png" alt="">
              </div>
              <div class="catalog_card__content_box">
                <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
              </div>
              <div class="catalog_card__bottom_line">
                <div class="price">Br 2,648.45</div>
                <a href="#" class="btn">В корзину</a>
              </div>
            </div>
          </div>
          <div class="catalog__box w-2">
            <div class="catalog_card">
              <div class="catalog_card__img_box">
                <img src="assets/img/card-1.png" alt="">
              </div>
              <div class="catalog_card__content_box">
                <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
              </div>
              <div class="catalog_card__bottom_line">
                <div class="price">Br 2,648.45</div>
                <a href="#" class="btn">В корзину</a>
              </div>
            </div>
          </div>
          <div class="catalog__box w-2">
            <div class="catalog_card">
              <div class="catalog_card__img_box">
                <img src="assets/img/card-1.png" alt="">
              </div>
              <div class="catalog_card__content_box">
                <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
              </div>
              <div class="catalog_card__bottom_line">
                <div class="price">Br 2,648.45</div>
                <a href="#" class="btn">В корзину</a>
              </div>
            </div>
          </div>
          <div class="catalog__box w-2">
            <div class="catalog_card">
              <div class="catalog_card__img_box">
                <img src="assets/img/card-1.png" alt="">
              </div>
              <div class="catalog_card__content_box">
                <span class="title">Профессиональный ЖК дисплей 32″ Samsung PM32F</span>
                <div class="description">24-7, 1920х1080, E-LED, 400 нит, 5000:1, Haze 2%, DVI/HDMI/DP/USB, Audio In/Out, RS232 In/Out, SSSP 4.0, RJ45, WiFi,[...]</div>
              </div>
              <div class="catalog_card__bottom_line">
                <div class="price">Br 2,648.45</div>
                <a href="#" class="btn">В корзину</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>