<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="content_page">
      <div class="container">
        <div class="content">
          <img src="assets/img/projekt-1.png" alt="">
          <h3>задача</h3>
          <p>Поставка, монтаж и запуск оборудования для зала «Республиканского центра тылового обеспечения» Министерства по чрезвычайным ситуациям Республики Беларусь.</p>
          <h3>процесс</h3>
          <p>Команда IBT успешно завершила реализацию очередного проекта по оснащению конференц-зала мультимедийной системой. На этот раз наши специалисты выполнили поставку, монтаж и запуск оборудования для зала «Республиканского центра тылового обеспечения» Министерства по чрезвычайным ситуациям Республики Беларусь.
          </p>
          <h3>оборудование</h3>
          <p>Для отображения информации были применены профессиональная ЖК панель Nec, а также мониторы Dell с поддержкой разрешения FULL HD подключаемые через специальные мультимедийные модули установленные в стол. Для коммутации было использовано оборудование SHINYBOW и Gembird.
            Инсталлированная система предназначена для визуального сопровождения различных мероприятий (презентаций, докладов, совещаний и т.п.).</p>
            <div class="project_gallery_box d-flex">
              <img src="assets/img/projekt-2.png" alt="" class="w-5">
              <img src="assets/img/projekt-3.png" alt="" class="w-5">
            </div>
            
        </div>
      </div>
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>