<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="about_company" style="background: url(assets/img/reviews-baner.png) center/cover no-repeat;">
      <div class="container">
        {{>breadcrumbs}}
        <div class="title_box">
          <span class="title h3">Мы ценим ваше мнение </span>
          <p class="sub_title">Ваш отзыв будет опубликован после проверки модератором </p>
          <div class="btn">оставить отзыв</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="reviews__page d-flex-wrap">
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
        <div class="reviews__element d-flex">
          <div class="review_img"><img src="assets/img/review-1.png" alt=""></div>
          <div class="review_content">
            <div class="review_text">За время наешго сотрудничества все возникающие вопросы решались оперативно и грамотно, на строительной площадке компании соблюдались частота и порядок, все работники неукоснительно соблюдали трудовую дисциплину. Выражаем благодарность за качественное и своевременное выполнение работ и надеемся на дальнейшее сотрудничество. </div>
            <div class="review_name">Бысюк Г.Г</div>
            <div class="review_post">Директор Мемориального комплекса “Брестская крепость-герой”</div>
            <a href="#" class="more_review">Читать все отзывы</a>
          </div>
        </div>
      </div>
    </div>
  </main>


    {{>map_section}}

    {{>question_form}}

  </main>
  {{>footer}}
</body>
</html>