<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>

    <div class="services_page d-flex-wrap">
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="contact_form d-flex-center">
        <div class="title_box">
          <span class="title h3">хотите узнать цену услуги или получить консультацию?</span>
        </div>
        <p>Оставьте заявку и с Вами, в ближайшее время, свяжется наш менеджер</p>
        <div class="form">
          <form action="#">
            <input type="text" name="name" placeholder="Ваше имя">
            <input type="text" name="phone" placeholder="Номер телефона">
            <button type="submit" class="btn">заказать звонок</button>
          </form>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>

      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
      <div class="services_page__wrapper d-flex">
        <div class="services_page__box img">
          <img src="assets/img/service-1.png" alt="">
        </div>
        <div class="services_page__box description">
          <div class="title_box">
            <span class="title h3">похожие товары</span>
          </div>
          <div class="preview_text">
            Аудит информационных систем — системный процесс получения и оценки объективных данных о текущем состоянии вычислительной и телекоммуникационной структуры, действиях и событиях….
          </div>
          <a href="#" class="btn">заказать</a>
        </div>
      </div>
    </div>

    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>