<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      {{>breadcrumbs}}
    </div>
    <div class="vacancy_page">
      <div class="container">
        <span class="title h3">вакансии </span>
        <img src="assets/img/vacancy.png" alt="">
        <div class="text">
          <p>ООО «АЙ БИ ТИ КОМПАНИ» — это команда молодых, динамичных профессионалов, увлеченных своей работой. Корпоративная культура — это наше конкурентное преимущество, которое позволяет привлекать в команду самых крутых, привлекательных, драйвовых сотрудников и мотивирует их в работе.</p>
          <p>Учредителями компании были молодые сотрудники с высшим экономическим и техническим образованием. Накопленный опыт реализации сложных технических проектов в области мультимедийных и телекоммуникационных систем позволил сформировать своё видение работы, как с ведущими производителями оборудования, так и с заказчиками.</p>
          <p>Добро пожаловать в команду «АЙ БИ ТИ КОМПАНИ»!</p>
          <p>Полный и актуальный список вакансий вы также можете посмотреть <a href="#">здесь.</a></p>
          <p>Если вас интересует работа в нашей компании, присылайте свои резюме на почту <a href="mailto:info@ibtc.by">info@ibtc.by</a> , в теме письма укажите желаемую должность.</p>
          <div class="btn">оставить заявку</div>
        </div>

      </div>
      
    </div>
    
    {{>map_section}}

    {{>question_form}}
  </main>
    {{>footer}}
  </body>
  </html>